<CustomSearchEngine volunteers="false"
                    keywords="climate &quot;global warming&quot; &quot;greenhouse gases&quot;"
                    language="en"
                    visible="false"
                    encoding="UTF-8">
  <Title>RealClimate</Title>
  <Description>Science behind global warming and climate change.</Description>
  <Context>
    <BackgroundLabels>
      <Label name="_cse_hwbuiarvsbo" mode="FILTER"/>
      <Label name="_cse_exclude_hwbuiarvsbo" mode="ELIMINATE"/>
    </BackgroundLabels>
  </Context>
  <LookAndFeel nonprofit="false"/>
  <ImageSearchSettings enable="true" layout="1" />
</CustomSearchEngine>
