<html>
<head>
  <link href="/static/styles/data.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet' type='text/css'>
  <meta name="robots" content="nofollow">
</head>
<body>
  <div>
    <p id='user-count'>{{userCount}}</p>
    <p>people have got a startpage.</p>
  </div>
  <div>
    <p id='icon-count'>{{iconCount}}</p>
    <p class='icons'>icons are in the repos.</p>
  </div>
</body>

</html>
