<html manifest="/static/startpage.manifest">
<head>
  <meta name="robots" content="index,follow">
  <meta property="og:title" content="That Startpage Rocks - Edit"/>
	<meta property="og:url" content="http://startpage-1072.appspot.com"/>
	<meta property="og:site_name" content="That Startpage Rocks"/>
	<meta property="og:type" content="website"/>
	<meta property="og:description" content="A simple and quick startpage that lets you access your favourite websites as well as the most famous services, all that with just a click or few keywords. It's a perfect replacement to the default startpage on your browser."/>
	<meta name="google" content="notranslate" />


  <title>Error - That Startpage Rocks</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="/static/js/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="/static/js/perfect-scrollbar.jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/perfect-scrollbar.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.sortable.js"></script>
  <link type="text/css" href="/static/styles/edit-add.css" rel="stylesheet" media="all" />
</head>
<body>
<div id="container">
  <div id="title" class="error">
    <h1>You must be logged in to add a bookmark</h1>
  </div>
  <div id="content">
    <p class="login-btn-container" style="width:180px;"><a class='login-btn signup' href='/login'><i class='fa fa-sign-in '></i> Login</a></p>
    <p class="login-btn-container" style="width:270px;"><a class='login-btn signup' href='/signup'><i class='fa fa-user-plus'></i> Haven't got a startpage ? Signup</a></p>

  </div>
</div>
</body>




</html>
