<html manifest="/static/startpage.manifest">
<head>
  <meta name="robots" content="index,follow">
  <meta property="og:title" content="That Startpage Rocks - Edit"/>
	<meta property="og:url" content="http://startpage-1072.appspot.com"/>
	<meta property="og:site_name" content="That Startpage Rocks"/>
	<meta property="og:type" content="website"/>
	<meta property="og:description" content="A simple and quick startpage that lets you access your favourite websites as well as the most famous services, all that with just a click or few keywords. It's a perfect replacement to the default startpage on your browser."/>
	<meta name="google" content="notranslate" />


  <title>Edit - That Startpage Rocks</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link type="text/css" href="/static/styles/perfect-scrollbar.css" rel="stylesheet" media="all" />
  <script src="/static/js/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="/static/js/perfect-scrollbar.jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/perfect-scrollbar.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.sortable.js"></script>
  <link href="/static/styles/edit.css" rel="stylesheet" type="text/css">
  <script src='/static/js/main.js'></script>
  <script type='text/javascript'>
  $.extend(
{
    redirectPost: function(location, args)
    {
        var form = '';
        $.each( args, function( key, value ) {
            value = value.split('"').join('\"')
            form += '<input type="hidden" name="'+key+'" value="'+value+'">';
        });
        $('<form action="' + location + '" method="POST">' + form + '</form>').appendTo($(document.body)).submit();
    }
});


    function changeDisplayName(node) {
      console.log(node.dataset.position);
      d = document.getElementById('popup');

      ti = document.getElementById('popup-title');
      ti.innerHTML="Change Website's Name";
      de = document.getElementById('popup-content');
      de.innerHTML = "<form action='/config/modify-website/"+node.dataset.position+"/title' method='post' enctype='multipart/form-data'><input type='text' placeholder='Change Title' name='value'></input> <input type='submit' value='Change Title'></input></form>";
      d.style.display = 'block';
    }
    function addWebsite() {
      d = document.getElementById('popup');
      ti = document.getElementById('popup-title');
      ti.innerHTML='Add a new Website';
      de = document.getElementById('popup-content');
      de.innerHTML = "<form action='/config/add-website' method='post' enctype='multipart/form-data'><input type='text' placeholder='Paste URL' name='url'></input> <input type='submit' value='Add Website'></input></form>";
      d.style.display = 'block';
    }

    function elementChildren (element) {
    var childNodes = element.childNodes,
        children = [],
        i = childNodes.length;

    while (i--) {
        if (childNodes[i].nodeType == 1) {
            children.unshift(childNodes[i]);
        }
    }

    return children;
}


    function changeWebsitePositions () {
      newOrder = ""
      var c = $("#apps_list").children();
      c.each(function(idx, val){
        p = $(this).context.dataset.position;
        console.log(p);
        newOrder+=p+",";
      });
      newOrder = newOrder.substring(0, newOrder.length - 1);
      console.log(newOrder);
      var redirect = '/config/change-apps-positions';
      $.redirectPost(redirect, {value:newOrder});
      /*$.post( "/config/change-apps-positions", {value:newOrder}, function( data ) {
        console.log(data);
      });*/
      }


    function closePopup() {
      d = document.getElementById('popup');
      d.style.display='none';
    }
    function closeNotification() {
      d = document.getElementById('notification');
      d.style.display='none';
    }



  </script>
</head>
<body>

  <div id='container'>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- tsr_banner 
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-5263514922826121"
     data-ad-slot="5268460296"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
-->
    {% if message %}
      <div id='notification' class='{% if message.startswith("Success")%}success{% elif message.startswith("Error")%}error{%endif%}'>
        <p>{{message}}</p>
        <button onclick='closeNotification()'>x</button>
      </div>

    {% endif %}
      <h1 id='sp-title'>EDIT YOUR STARTPAGE</h1>
      <div id='edit-panel'>
        <h2 style='color:white;padding:2px;margin:15px;'>Welcome back, {{user.username}}</h2>
        <p>This is the link to your <a class="usr-link" href='{{linkUrl}}'>startpage</a> :</p>
        <p><code>{{linkUrl}}</code></p>
        <hr/>
        <p>Add your startpage to your <a class='usr-link' href='/browsers'>browser</a> to really make that startpage rock !</p>
        <hr/>
        <div style='margin:0px;'>
          <p><a href='/logout' style='color:rgb(100,100,100)'>logout</a></p>
        </div>
      </div>
      <div id='app-view'>
        <div style="background:url('{{img}}')" id='edit-bg' >
          <p id='image'>Change Background Image</p>
          <form id='bg-image' action='{{upload_bg}}' enctype="multipart/form-data" method='post'>
            <input type="file" name="filename" accept="image/gif, image/jpeg, image/png">
            <input type='submit' value="Change Image"></input>
          </form>
        </div>

        <div id='edit-title'>
          <p id='title'>Change Startpage Title</p>
        <form id='bg-theme' action='/config/change-title' enctype="multipart/form-data" method='post'>
          <input type='text' name='title' value='{{title}}'></input>
          <input type='submit' value="Change Title"></input>
        </form>
      </div>

        <div id='edit-theme'>
          <p id='theme'>Change Color Theme</p>
        <form id='bg-theme' action='/config/change-theme' enctype="multipart/form-data" method='post'>
          <select name='theme' selected='{{theme}}'>
            <option value="white" {% if theme == 'white'%}selected{% endif %}>White</option>
            <option value="dark" {% if theme == 'dark'%}selected{% endif %}>Dark</option>
          </select>
          <input type='submit' value="Change Theme"></input>
        </form>
      </div>
      <div id='edit-theme'>
        <p id='theme'>Change Search Engine</p>
      <form id='bg-theme' action='/config/change-search-engine' enctype="multipart/form-data" method='post'>
        <select name='value' selected='{{searchEngine}}'>
          {% for se in searchEngineOptions %}
          <option value="{{se}}" {% if searchEngine == se %}selected{% endif %}>{{se | capitalize}}</option>
          {%endfor%}
        </select>
        <input type='submit' value="Change Search Engine"></input>
      </form>
    </div>
    <div id='edit-title'>
      <p id='apps'>Modify Bookmarks</p>
      <button value="add-website" onclick='addWebsite()' id='edit-add-website'>+ Add Bookmark</button>
      <ul class="sortable" id='apps_list'>
        {% for a in  apps %}
        <li class='website-item' data-position={{a.position}} >
          <table width="100%">
          <tr>
            <td style='width:20px'><div class='web-icon' style="background-image:url('{{a.icon}}')"><i class='fa fa-bars handle' title='Move bookmark' ></i></div></td>
            <td style='width:80px' class='web-display-name'>{{a.display_name}}<button class='btn-edit-title' value='edit' onclick='changeDisplayName(this.parentNode.parentNode.parentNode.parentNode.parentNode)'><i class='fa fa-pencil'></i></button></td>
            <td style='width:100px' class='web-url'>{{a.url}}</td>
            <td style='width:15px' class='web-url'><a href='/config/delete-website?website={{a.position}}' class='btn-remove-website'>X</a></td>
          </tr>
          </table>
        </li>
        {% endfor %}
      </ul>
      <button value="change-web-positions" onclick='changeWebsitePositions()' id='edit-apply-website'><i class="fa fa-check"></i>
 Apply Order</button>

      <script>
        $('.sortable').sortable({
          handle:'.web-icon'
        });
        $('.sortable').sortable().bind('sortupdate', function(e, ui) {
          //Triggered when the user stopped sorting and the DOM position has changed.
          console.log('Changed');
          var d = document.getElementById('edit-apply-website');
          d.className='do-apply';
        });
      </script>
  </div>

    <div id='popup'>
      <div id='popup-top-bar'>
        <p id='popup-title'></p>
        <button onclick='closePopup()' id='popup-close-button'><span id='popup-cross'>X</span> Close</button>
      </div>
      <div id='popup-content'></div>
    </div>
      </div>
  </div>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67397540-2', 'auto');
  ga('require', 'linkid');
  ga('send', 'pageview');

</script>

</body>




</html>
