<html>
<head>
  <title>That Startpage Rocks - A Simple & Beautiful Startpage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Missing icon -->
  <meta property="og:image" content=""/>
	<meta property="og:title" content="Highstreet Startpage"/>
	<meta property="og:url" content="http://startpage-1072.appspot.com"/>
	<meta property="og:site_name" content="Highstreet Startpage"/>
	<meta property="og:type" content="website"/>
	<meta property="og:description" content="The Startpage Project is a better alternative to your default browser's homepage. Create your custom startpage now, add your favourite websites and use our awesome search engine."/>
	<meta name="google" content="notranslate" />
	<meta name="robots" content="index,follow">
  <meta name="description" content="The Startpage Project is a better alternative to your default browser's homepage. Create your custom startpage now, add your favourite websites and use our awesome search engine.">
  <meta name="google-site-verification" content="OrYyrm5tXp4_lAYfyVIzfguo3L_5I-uzZSnoEqGEsiA" />
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="/static/js/jquery-2.1.3.min.js"></script>
  <link href="/static/styles/main.css" rel="stylesheet" type="text/css">
  <link href="/static/styles/setup.css" rel="stylesheet" type="text/css">
  <link href="/static/styles/home.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id='message'>
    This is the new version of That Startpage Rocks's website and is still in development. You might want to visit the <a href="/old"> old website </a>.
  </div>
  <div id='header'>
    <div id='icon-block'>
      <img src='/static/icons/tsr.svg' />
    </div>
    <a class='h-icon' href='/signup'>
      <img src='/static/icons/signup.svg' />
    </a>
    <a class='h-icon' href='/login'>
      <img src='/static/icons/login.svg' />
    </a>
  </div>
  <div id='container'>
    <div id='right-panel'>
      <h1>Free & Open Source</h1>
      <p> It's totally free, there's not even ads. Plus, the software is licensed under the GNU LGPL v3 license, meaning that it's open source. </p>
      <p><a href="">Here's</a> the source code hosted on Github.</p>
      <h1>Share Us</h1>
      <p>We'd like people to know we exist:)</p>
      <h1></h1>
    </div>
    <div id='about'>
      <h1>What is it ?</h1>
      <p>A simple and quick startpage that lets you access your favourite websites as well as the most famous services, all that with just a click or few keywords. It's a perfect replacement to the default startpage on your browser.</p>
      <p>In contrast with other startpages available on the web, That Startpage Rocks focuses on simplicity and productivity. Our aim is that you spend the least time finding what you want, no distractions are there to slow you down, just powerful tools to help you quickly find the right content. This does not affect the beauty of your startpage, however, thanks to our modern interface and the ability to customize your startpage.</p>
      <p>In a few words: Simplicity, Speed, Productivity, Beauty, Delight</p>

      <h2>Add your favourite websites</h2>
      <p>Like you would expect, add your favourite websites to your startpage. Thanks to our icon repository, your apps have beautifully sharp icons.</p>
      <h2>Search famous websites</h2>
      <p>Our very special search engine lets you quickly find content from major web services. It works a little bit like a command line. For instance, if you'd like to search a youtube video, just type `youtube` followed by a query. You'll then get realtime results, linking directly to videos.</p>

      <h3>Here are all the supported web services :</h3>
      <p>
      - youtube
      - spotify
      - soundcloud
      - pixabay
      - wikipedia
      - guardian
      - new york times
      </p>
      <h2>Customize your startpage</h2>
      <p>Change your startpage's look and feel with our simple interface, which lets you choose a colour theme, change your startpage's name or change your startpage's background.</p>
      <h2>Contribute</h2>
      <p>Please submit bugs if you find some:) If you've got new web services that you'd like us to add, please do also submit a bug.</p>
      </div>
  </div>

</body>

</html>
