<html>
<head>
  <title>That Startpage Rocks - A Simple & Beautiful Homepage for your Browser</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/static/icons/app/tsr-16.png" type="image/png" sizes="16x16">
  <link rel="icon" href="/static/icons/app/tsr-32.png" type="image/png" sizes="32x32">
  <link rel="icon" href="/static/icons/app/tsr-64.png" type="image/png" sizes="64x64">
  <link rel="icon" href="/static/icons/app/tsr-128.png" type="image/png" sizes="128x128">
   <meta property="og:image" content="http://that.startpage.rocks/static/images/preview.png"/>
 	<meta property="og:title" content="That Startpage Rocks"/>
 	<meta property="og:url" content="http://that.startpage.rocks"/>
 	<meta property="og:site_name" content="That Startpage Rocks"/>
 	<meta property="og:type" content="website"/>
 	<meta property="og:description" content="Create your own custom start page. Click on beautiful bookmarks and quickly search for great content with a simple, fast and beautiful startpage. An awesome alternative to your browser's homepage."/>
 	<meta name="google" content="notranslate" />
 	<meta name="robots" content="index,follow">
   <meta name="description" content="Create your own custom start page. Click on beautiful bookmarks and quickly search for great content with a simple, fast and beautiful startpage. An awesome alternative to your browser's homepage. ">

  <link rel="stylesheet" href="/static/styles/presentation.css"/>
  <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700,400' rel='stylesheet' type='text/css'>
  <script src="/static/js/jquery-2.1.3.min.js"></script>
  <link rel="stylesheet" href="/static/styles/font-awesome.css">
  <script >


  function scrollToElement(el, ms){
    var speed = (ms) ? ms : 600;
    $('html,body').animate({
        scrollTop: $(el).offset().top
    }, speed);
  }

  function shareTo(url) {
    var a = window.open(url, '', 'height=320, width=500, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no');
  }

</script>
</head>
<body>

  <section class="module head">
    <!--<button id="sound"></button>-->
    <button id="share"></button>
    <a id="continue" onclick="scrollToElement('#slide1', 500)"><h4 style="text-align:center">Learn more</h4></a>
    <div id="animation">
    </div>

    <div id="share-buttons">
      <div>
        <a class="share-platform tw" target="_blank" onclick="shareTo('http://www.twitter.com/intent/tweet?url=http%3A%2F%2Fthat.startpage.rocks%2Fmore')"><i class="fa fa-twitter"></i></a>
        <a class="share-platform fb"  target="_blank" onclick="shareTo('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fthat.startpage.rocks%2Fmore')"><i class="fa fa-facebook"></i></a>
        <a class="share-platform g" target="_blank" onclick="shareTo('https://plus.google.com/share?url=http%3A%2F%2Fthat.startpage.rocks%2Fmore')"><i class="fa fa-google"></i></a>
        <a class="share-platform m" onclick="mailto:?body=http%3A%2F%2Fthat.startpage.rocks%2Fmore&subject=ThatStartpageRocks"><i class="fa fa-envelope-o"></i></a>
      <div>
    </div>

  </section>

  <section class="module parallax parallax-1" id="slide1">
    <div class="container">
      <h1>Browse Different.</h1>
    </div>
  </section>

  <section class="module content">
    <div class="container" style="overflow:hidden;">
      <div class="sub-cont">
        <div style="margin:5px;padding:10px;">
          <h2><i class="fa fa fa-bolt"></i> Productivity</h2>
          <p>Our simple and distraction-free interface lets you easily find your bookmarks and quickly search for the content you want.</p>
        </div>
      </div>
      <div class="sub-cont">
        <div style="margin:5px;padding:10px;">
          <h2><i class="fa fa fa-suitcase"></i>  Portability</h2>
          <p>Just login on any browser to access your startpage, it even works on mobile phones !</p>
        </div>
      </div>
      <div class="sub-cont">
        <div style="margin:5px;padding:10px;">
          <h2><i class="fa fa fa-apple"></i> Beauty</h2>
          <p>Customize your startpage to make it truly beautiful. And let's be honest, it's hard not to make it look awesome. Perfect for artists. </p>
        </div>
      </div>
    </div>
  </section>

  <section class="module content dark">
    <div class="container" >
      <p class="definition unique"><b style="font-weight:bold;color:white;">Startpage,</b> <i style="font-style:italic">n.</i> 1. The opening page in a browser, set by the user. Also known as homepage.</p>
    </div>
  </section>

  <section class="module content yellow">
    <div class="container" >
      <h2>How it works</h2>
      <p class="definition yellow unique">First, <a href="/signup">signup</a>. Then, follow a few steps to customize your startpage. And that's it ! We give you a link to your startpage, from which you can access your bookmarks and search. To add or remove bookmarks, or to customize your startpage's look, place your cursor on the <i class="fa fa-cog"></i> button (on the top right corner of your startpage), and click on 'edit'.</p>
    </div>
  </section>



  <section class="module parallax parallax-2">
    <div class="container">
      <video autoplay loop id="animation-element">
        <source src="/static/presentation/search-animation.webm" type="video/webm">
        Your browser does not support the video tag.
      </video>
      <h1 class="yellow">Quickly find the right content</h1>
    </div>
  </section>

  <section class="module content">
    <div class="container">
      <h2><i class="fa fa-search"></i> A Powerful search engine</h2>
      <p class="unique">One can compare it to a terminal, as if you send commands to the search input and get results specific to these commands. Now don't be afraid by this, it's actually very simple, it's also super quick. Our search engine lets you search directly through major web services to quickly access the content you want. Say you'd like to listen to a song on spotify, write <code>spotify</code> or <code>spot</code> followed by your query and you get direct links to songs. </p>
    </div>
  </section>

  <section class="module parallax parallax-3">
    <div class="container">
      <h1 >Your unique startpage</h1>
    </div>
  </section>

  <section class="module content">
    <div class="container">
      <h2><i class="fa fa-cog"></i> Customize your startpage</h2>
      <p class="unique">Control your startpage's design with our advanced editor.</p>
    </div>
  </section>
  <section class="module parallax parallax-4">
    <div class="container">
      <h1 class="yellow">Open Source, Open to contributions</h1>
    </div>
  </section>

  <section class="module content dark">
    <div class="container" style="overflow:hidden">
      <div class="sub-cont">
        <div style="margin:5px;padding:10px;">
          <h2><i class="fa fa fa-code-fork"></i> Contribute</h2>
          <p>Request new features or discuss with us via our <a href="https://github.com/the-duck/that-startpage-rocks">github repository</a>.</p>
        </div>
      </div>
      <div class="sub-cont">
        <div style="margin:5px;padding:10px;">
          <h2><i class="fa fa fa-plus"></i> Add icons</h2>
          <p>Contribute to our icon archive, which provides beautiful icons to your bookmarks, by <a href="/icons">adding new icons</a>.</p>
        </div>
      </div>

      <div class="sub-cont">
        <div style="margin:5px;padding:10px;">
          <h2><i class="fa fa fa-flask"></i> Test the platform</h2>
          <p><i>That Startpage Rocks</i> is still a work in progress and needs testing. Now anyone can test it as it's free. Please <a href="/signup">signup</a> and give us <a href="https://github.com/the-duck/that-startpage-rocks/issues/new">feedback</a> by reporting issues. It would help a lot :)</p>
        </div>
      </div>


    </div>
  </section>


  <section class="module content yellow" id="contact">
    <div class="container" style="overflow:hidden">

      <div class="half-cont">
        <div style="margin:5px;padding:10px;">
          <h2><i class="fa fa fa-paper-plane"></i> Contact</h2>
          <p>Are you a user, a developer or from the press ? Please fill in this form to ask questions, comment or discuss.</p>
        </div>
      </div>



      <div class="half-cont">
        <div style="margin:5px;padding:10px;">
          <h2></h2>
          <form enctype="multipart/form-data" action="/send_mail" method="POST">
            <div style="float:left;margin:0px;padding:0px;width:50%">
              <div style="margin:5px;">
                <i class="in-text">First Name</i>
                <input type="text" name="firstname" ></input>
              </div>
            </div>
            <div style="float:left;margin:0px;padding:0px;width:50%">
              <div style="margin:5px;">
                <i class="in-text">Last Name</i>
                <input type="text" name="lastname"></input>
              </div>
            </div>
            <div style="margin:5px;">
              <i class="in-text">Email Address</i>
              <input type="email" name="email"></input>
            </div>
            <div style="margin:5px;">
              <i class='in-text'>Message</i>
              <textarea name="body"></textarea>
            </div>
            <input type="submit" value="Submit"></input>
          </form>
        </div>
      </div>


    </div>
  </section>




  <footer id="footer">
    <div class="container">
    <ul class="footer-block">
      <li class="footer-block-title">That Startpage Rocks</li>
       <li><a href="/home">Home</a></li>
       <li><a href="/signup">Signup</a></li>
       <li><a href="/login">Login</a></li>
       <li><a href="/icons">Icon repository</a></li>
       <li><a href="/browser">Add to browser</a></li>
    </ul>
  <ul class="footer-block">
    <li class="footer-block-title">Copyright (C) 2016 Mark Spurgeon </li>
     <li><a href="https://github.com/the-duck/that-startpage-rocks">Github Source (license: LGPL v3.0)</a></li>
     <li><a href="/terms">Terms of Service</a></li>
     <li><a href="/privacy">Privacy Policy</a></li>
     <li><a href="/more/#contact">Contact</a></li>
  </ul>
  <ul class="footer-block">
    <li class="footer-block-title">Made by @the-duck</li>
     <li> <a href="http://the-duck.github.io">the-duck.github.io</a></li>
     <li> <a href="mailto:theduck.dev@gmail.com">theduck.dev@gmail.com</a></li>
  </ul>
</div>
</footer>

  <a href="/signup" id="signup"></a>


  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67397540-2', 'auto');
  ga('require', 'linkid');
  ga('send', 'pageview');
  ga('send', 'event','Views','Presentation',1);
</script>

</body>
</html>
