<html lang="en">
<head>
  <title>Privacy Policy - That Startpage Rocks</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Missing icon -->
 <link rel="icon" href="/static/icons/app/tsr-16.png" type="image/png" sizes="16x16">
 <link rel="icon" href="/static/icons/app/tsr-32.png" type="image/png" sizes="32x32">
 <link rel="icon" href="/static/icons/app/tsr-64.png" type="image/png" sizes="64x64">
 <link rel="icon" href="/static/icons/app/tsr-128.png" type="image/png" sizes="128x128">
  <meta property="og:image" content=""/>
	<meta property="og:title" content="Privacy Policy - That Startpage Rockss"/>
	<meta property="og:url" content="http://that.startpage.rocks/privacy"/>
	<meta property="og:site_name" content="That Startpage Rocks"/>
	<meta property="og:type" content="website"/>
	<meta property="og:description" content="Create your own custom start page. Quickly access your favourite bookmarks and search your favourite websites with our powerful search engine. It's a perfect replacement to the default startpage on your browser. And don't forget... That Startpage Rocks "/>
	<meta name="google" content="notranslate" />
	<meta name="robots" content="index,follow">
  <meta name="description" content="Create your own custom start page. Quickly access your favourite bookmarks and search your favourite websites with our powerful search engine. It's a perfect replacement to the default startpage on your browser. And don't forget... That Startpage Rocks ">
  <meta name="google-site-verification" content="OrYyrm5tXp4_lAYfyVIzfguo3L_5I-uzZSnoEqGEsiA" />
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="/static/js/jquery-2.1.3.min.js"></script>
  <link href="/static/styles/main.css" rel="stylesheet" type="text/css">
  <link href="/static/styles/home.css" rel="stylesheet" type="text/css">
  <script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "0285b4b1-dd2a-4170-ad78-b43e6f8236a7", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>
<link href="/static/styles/home-slick.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){

  if (typeof String.prototype.startsWith != 'function') {
    // see below for better implementation!
    String.prototype.startsWith = function (str){
    return this.indexOf(str) === 0;
    };
  };

  if (window.location.href.startsWith('http://startpage-1072.appspot.com') ) {
      $(location).attr('href', 'http://that.startpage.rocks')
  };
  if (window.location.href.startsWith('http://startpage.rocks') ) {
      $(location).attr('href', 'http://that.startpage.rocks')
  };

  $('.slideshow').slick({
    centerMode:true,
    dots:true
  });
});
</script>

</head>
<body>
  <div id='header'>
    <div id='icon-block'>
      <img src='/static/icons/tsr.svg' />
    </div>
    <a class='h-icon' href='/signup' itemscope itemtype="http://schema.org/SoftwareApplication" id='signup-btn'>
      <img itemprop="image" src='/static/icons/signup.svg' />
    </a>
    <a class='h-icon' href='/edit' id='edit-btn'>
      <img src='/static/icons/login.svg' />
    </a>
    <a class='h-icon' href='https://github.com/the-duck/that-startpage-rocks'>
      <img src='/static/icons/github.svg' />
    </a>
  </div>
  <div id='container'>
    <div id='right-panel'>
      <p><a href="/">Back home</a></p>
      <p><a href="/terms">Terms of Service</a></p>
      <p><a href="/policy">Privacy Policy</a></p>
    </div>
    <div id='about'>
      <div style='margin:5px;padding:5px;'>

        <h1>Privacy Policy</h1>
        <p>This Privacy Policy (“Policy”) describes how That Startpage Rocks collects, uses and shares your information when you use our Services.</p>
        <h2>Information Collection and Use</h2>
        <p><b>Account information:</b> When you create an account, you provide some personal information, such as your name, username, password, email address.</p>
        <p><b>Cookies:</b> Like many websites, we use cookies and similar technologies to collect additional website usage data and to improve our Services. A cookie is a small data file that is transferred to your computer or mobile device. That Startpage Rocks may use both session cookies and persistent cookies in order to improve our Services.</p>
        <p><b>Log Data:</b> When you use our Services, we may receive information (“Log Data”) such as your IP address, browser type, operating system, the referring web page, pages visited, location, your mobile carrier, device information (including device and application IDs), search terms, and cookie information. We receive Log Data when you interact with our Services, for example, when you visit our websites, sign into our Services. By agreeing to the Terms, you are also agreeing to the terms related to Google Analytics.</p>

      </div>
    </div>
  </div>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67397540-2', 'auto');
  ga('require', 'linkid');
  ga('send', 'pageview');

  </script>
</body>

</html>
