<html lang="en">
<head>
  <meta property="og:image" content=""/>
	<meta property="og:title" content="That Startpage Rocks"/>
	<meta property="og:url" content="http://startpage-1072.appspot.com"/>
	<meta property="og:site_name" content="That Startpage Rocks"/>
	<meta property="og:type" content="website"/>
	<meta property="og:description" content="A simple and quick startpage that lets you access your favourite websites as well as the most famous services, all that with just a click or few keywords. It's a perfect replacement to the default startpage on your browser."/>
	<meta name="google" content="notranslate" />
	<meta name="robots" content="index,follow">


  <title>Sign Up - That Startpage Rocks</title>
  <link rel="stylesheet" href="/static/styles/font-awesome.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700,400' rel='stylesheet' type='text/css'>
  <script src="/static/js/jquery-2.1.3.min.js"></script>
  <script src='/static/js/main.js'></script>
  <link href="/static/styles/home.css" rel="stylesheet" type="text/css">
  <link href="/static/styles/signup.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div id='filter'></div>
  <div id='header' style='background-color:transparent;'>
    <div id='icon-block'>
      <img src='/static/icons/tsr-signup.svg' />
    </div>
    <a class='h-icon' style="margin-right:74px;" href='/more'>
      <img src='/static/icons/tsr-more.svg' />
    </a>
  </div>

  <div id='container'>
    <div id="left-block">
      <h1 style="padding-top:0px;margin-top:0px;">Sign up to create your startpage</h1>
      <p style="margin-left:0px;padding-left:0px;">It's very easy to create your own startpage, just signup using one of these services and follow 2-3 steps to make that startpage your own. By signing up, you must agree to these <a href="/terms">Terms of Services</a>.</p>
      <p style="margin-left:0px;padding-left:0px;"><i>Logging in to That Startpage Rocks requires the use of cookies. See our <a href="/privacy">Privacy Policy</a> to learn more.</i></p>
    </div>
    <div id='right-block'>
      <p style='margin-top:100px;'><a href="/login-google" class="login-btn google"><i class="fa fa-google"></i> Signup with Google</a></p>
      <p><a href="/login-fb" class="login-btn facebook"><i class="fa fa-facebook"></i> Signup with Facebook</a></p>
      <p><a href="/login-github" class="login-btn"><i class="fa fa-github"></i> Signup with Github</a></p>
    </div>
    <div id="attribution">
      <p>Background image <a href="https://pixabay.com/photo-1056764/">available here</a>, under the creative commons licence.</p>
    </div>
  </div>

<footer id="footer">
  <ul class="footer-block">
    <li class="footer-block-title">That Startpage Rocks</li>
     <li><a href="/home">Home</a></li>
     <li><a href="/signup">Signup</a></li>
     <li><a href="/login">Login</a></li>
     <li><a href="/icons">Icon repository</a></li>
     <li><a href="/browser">Add to browser</a></li>
     <li><a href="/more">Presentation</a></li>
  </ul>
<ul class="footer-block">
  <li class="footer-block-title">Copyright (C) 2016 Mark Spurgeon </li>
   <li><a href="https://github.com/the-duck/that-startpage-rocks">Github Source (license: LGPL v3.0)</a></li>
   <li><a href="/terms">Terms of Service</a></li>
   <li><a href="/privacy">Privacy Policy</a></li>
</ul>
<ul class="footer-block">
  <li class="footer-block-title">Made by @the-duck</li>
   <li> <a href="http://the-duck.github.io">the-duck.github.io</a></li>
   <li> <a href="mailto:theduck.dev@gmail.com">theduck.dev@gmail.com</a></li>
</ul>
</footer>



  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67397540-2', 'auto');
  ga('require', 'linkid');
  ga('send', 'pageview');

</script>

</body>









</html>
