<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The Startpage Project is a better alternative to your default browser's homepage. Create your custom startpage now, add your favourite websites and use our awesome search engine.">
    <meta name="author" content="">
    <meta name="google-site-verification" content="OrYyrm5tXp4_lAYfyVIzfguo3L_5I-uzZSnoEqGEsiA" />

    <title>That Startpage Rocks</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/styles/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/static/styles/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/styles/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img height=24 src="/static/startpage.svg"></img></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#features">Features</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#signup">Signup</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 >Don't Waste Time. Use <i style='text-decoration:'>That Startpage Rocks</i></h1>
                <hr>
                <p style='color:white;'>Access your favourite apps with just a click. Search famous services, like Youtube and Spotify, with just a few words. Welcome to <i>The Startpage Project</i> </p>
                <a href="/signup" class="btn btn-default btn-xl page-scroll signup">Signup</a>
                <a href="/login" class="btn btn-xl page-scroll login">or Login</a>
                <hr>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Your favourite websites. All in one place.</h2>
                    <hr class="dark">
                    <p class="text-faded" style='color:rgb(30,30,30)'>With your <i>Startpage</i>, you don't need to waste time on the internet. You can quickly access your websites as well as famous services, and all that on a beautiful, custom startpage.</p>
                    <p class="text-faded" style='color:rgb(30,30,30)'>There's just a few steps to make that startpage your own, and you're done!</p>
                    <a href="#features" class="btn btn-primary dark btn-xl">More Features</a>  <a href="/signup" class="btn btn-default dark btn-xl">Create my Startpage!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-link wow bounceIn text-primary"></i>
                        <h3>Add your favourite websites</h3>
                        <p class="text-muted">Quickly access them in just one click.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-search wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Search your favourite services</h3>
                        <p class="text-muted">Just type a few words and find videos, articles and other stuff from famous services. <a href="/features/search">Find out more!</a></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-sliders wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Customize</h3>
                        <p class="text-muted">Change backgrounds, colour themes, and more to make your Startpage beautiful.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Contribute</h3>
                        <p class="text-muted"><i>The Startpage</i> is an open project. Developpers and designers are welcome to discuss, share ideas and code. <a href="#contact">Contact us</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="signup">

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Try out The Startpage !</h2>
                <hr class='light'>
                <p>The Startpage is only at its early stages, hence might not be very stable.</br>
                <i>It is important to note that we <b>do not</b> store any sensitive data other than your Google (or Facebook) username.</i></p>
                <a href="/signup" class="btn btn-default btn-xl wow tada">Create My Startpage Now!</a>
            </div>
        </div>
    </aside>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">The Social Stuff</h2>
                    <hr class="primary">
                    <p>If you'd like to help the project, get some help or just talk with us, here are a few links.</p>
                </div>
                <!--<div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-google fa-3x wow bounceIn"></i>
                    <p>123-456-6789</p>
                </div>-->
                <div class="col-lg-4 text-center">
                    <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="https://www.facebook.com/The-Startpage-319461641510773/">The Startpage on Facebook</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:theduck.dev@gmail.com">theduck.dev@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67397540-2', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>
