<html lang="en">
<head>
  <title>Terms of Service - That Startpage Rocks</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Missing icon -->
 <link rel="icon" href="/static/icons/app/tsr-16.png" type="image/png" sizes="16x16">
 <link rel="icon" href="/static/icons/app/tsr-32.png" type="image/png" sizes="32x32">
 <link rel="icon" href="/static/icons/app/tsr-64.png" type="image/png" sizes="64x64">
 <link rel="icon" href="/static/icons/app/tsr-128.png" type="image/png" sizes="128x128">
  <meta property="og:image" content=""/>
	<meta property="og:title" content="Terms of Service - That Startpage Rocks"/>
	<meta property="og:url" content="http://that.startpage.rocks/terms"/>
	<meta property="og:site_name" content="That Startpage Rocks"/>
	<meta property="og:type" content="website"/>
	<meta property="og:description" content="Create your own custom start page. Quickly access your favourite bookmarks and search your favourite websites with our powerful search engine. It's a perfect replacement to the default startpage on your browser. And don't forget... That Startpage Rocks "/>
	<meta name="google" content="notranslate" />
	<meta name="robots" content="index,follow">
  <meta name="description" content="Create your own custom start page. Quickly access your favourite bookmarks and search your favourite websites with our powerful search engine. It's a perfect replacement to the default startpage on your browser. And don't forget... That Startpage Rocks ">
  <meta name="google-site-verification" content="OrYyrm5tXp4_lAYfyVIzfguo3L_5I-uzZSnoEqGEsiA" />
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="/static/js/jquery-2.1.3.min.js"></script>
  <link href="/static/styles/main.css" rel="stylesheet" type="text/css">
  <link href="/static/styles/home.css" rel="stylesheet" type="text/css">
  <script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "0285b4b1-dd2a-4170-ad78-b43e6f8236a7", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>
<link href="/static/styles/home-slick.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){

  if (typeof String.prototype.startsWith != 'function') {
    // see below for better implementation!
    String.prototype.startsWith = function (str){
    return this.indexOf(str) === 0;
    };
  };

  if (window.location.href.startsWith('http://startpage-1072.appspot.com') ) {
      $(location).attr('href', 'http://that.startpage.rocks')
  };
  if (window.location.href.startsWith('http://startpage.rocks') ) {
      $(location).attr('href', 'http://that.startpage.rocks')
  };

  $('.slideshow').slick({
    centerMode:true,
    dots:true
  });
});
</script>

</head>
<body>
  <div id='header'>
    <div id='icon-block'>
      <img src='/static/icons/tsr.svg' />
    </div>
    <a class='h-icon' href='/signup' itemscope itemtype="http://schema.org/SoftwareApplication" id='signup-btn'>
      <img itemprop="image" src='/static/icons/signup.svg' />
    </a>
    <a class='h-icon' href='/edit' id='edit-btn'>
      <img src='/static/icons/login.svg' />
    </a>
    <a class='h-icon' href='https://github.com/the-duck/that-startpage-rocks'>
      <img src='/static/icons/github.svg' />
    </a>
  </div>
  <div id='container'>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- tsr_banner -->
    <ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-5263514922826121"
     data-ad-slot="5268460296"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <div id='right-panel'>
      <p><a href="/">Back home</a></p>
      <p><a href="/terms">Terms of Service</a></p>
      <p><a href="/policy">Privacy Policy</a></p>
    </div>
    <div id='about'>
      <div style='margin:5px;padding:5px;'>

        <h1>Terms of Service</h1>
        <p>These Terms of Service (“Terms”) govern your access to and use of our Services, including our website ("That Startpage Rocks"), and any information, text, graphics, photos or other materials uploaded, downloaded or appearing on the Services (collectively referred to as “Content”).. Your access to and use of the Services are conditioned on your acceptance of and compliance with these Terms. By accessing or using the Services you agree to be bound by these Terms.</p>
        <h2>Base</h2>
        <p>You are responsible for your use of the Services, for any Content you post to the Services, and for any consequences thereof. Most Content you submit, post, or display through the Services is public by default and will be able to be viewed by other users and through third party services and websites.You should only provide Content that you are comfortable sharing with others under these Terms.</p>
        <p>The Services that That Startpage Rocks provides are always evolving and the form and nature of the Services that That Startpage Rocks provides may change from time to time without prior notice to you. In addition, That Startpage Rocks may stop (permanently or temporarily) providing the Services (or any features within the Services) to you or to users generally and may not be able to provide you with prior notice. We also retain the right to create limits on use and storage at our sole discretion at any time without prior notice to you.</p>
        <h2>Privacy</h2>
        <p>Any information that you or other users provide to Twitter is subject to our Privacy Policy, which governs our collection and use of your information.  You understand that through your use of the Services you consent to the collection and use (as set forth in the Privacy Policy) of this information, including the transfer of this information to the United States, Ireland, and/or other countries for storage, processing and use by Twitter. As part of providing you the Services, we may need to provide you with certain communications, such as service announcements and administrative messages. These communications are considered part of the Services and your account, which you may not be able to opt-out from receiving.</p>
        <h2>Content on the Services</h2>
        <p>All Content is the sole responsibility of the person who originated such Content. We may not monitor or control the Content posted via the Services and, we cannot take responsibility for such Content. Any use or reliance on any Content or materials posted via the Services or obtained by you through the Services is at your own risk.</p>
        <h2>Your Rights</h2>
        <p>You retain your rights to any Content you submit, post or display on or through the Services. By submitting, posting or displaying Content on or through the Services, you grant us a worldwide, non-exclusive, royalty-free license (with the right to sublicense) to use, copy, reproduce, process, adapt, modify, publish, transmit, display and distribute such Content in any and all media or distribution methods (now known or later developed).</p>
        <h2>Restrictions on Content and Use of the Services</h2>
        <p>We reserve the right at all times (but will not have an obligation) to remove or refuse to distribute any Content on the Services, to suspend or terminate users, and to reclaim usernames without liability to you. We also reserve the right to access, read, preserve, and disclose any information as we reasonably believe is necessary to (i) satisfy any applicable law, regulation, legal process or governmental request, (ii) enforce the Terms, including investigation of potential violations hereof, (iii) detect, prevent, or otherwise address fraud, security or technical issues, (iv) respond to user support requests, or (v) protect the rights, property or safety of Twitter, its users and the public.</p>

      </div>
    </div>
  </div>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67397540-2', 'auto');
  ga('require', 'linkid');
  ga('send', 'pageview');

  </script>
</body>

</html>
