

::-webkit-input-placeholder {
   color: rgba(30,30,30,0.8);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(30,30,30,0.8);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(30,30,30,0.8);
}

:-ms-input-placeholder {
   color: rgba(30,30,30,0.8);
}


body {
  background: url('/static/bg10.jpg') center center fixed;
  background-color:white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family:'Roboto Condensed',serif;
  overflow-y: hidden;
}


#sp-title {
  color:rgb(30,30,30);
  border-color:rgb(30,30,30);
}



div#search-div {
  margin:10px;
}
div#search-bar {
  border-color:rgb(30,30,30);

}
div#search-bar input[type='text'] {
  color:rgb(30,30,30);
  background-color:rgba(30,30,30,0.0);
}
div#search-bar input[type='text']:active {
  background-color:rgba(30,30,30,0.04);
  outline:none;
}
div#search-bar input[type='text']:focus {
  border-color:rgb(30,30,30);
  outline:none;
}
div#search-bar button[type='submit'] {
    background:url('/static/searchDark.svg') center center;
    color:rgb(30,30,30);
}
div#search-bar button[type='submit']:hover {
  border-color:rgb(30,30,30)
}
div#search-bar button[type='submit']:active {
  border-color:rgb(30,30,30);
}
div#search-panel {
  background-color:rgb(40,40,40);
  border-color:rgb(30,30,30)
}
div#search-panel.searching {
}
div#search-results {
  color:white;
}
div#search-message {
  color:white;
  border-color:rgb(30,30,30);
}
div#search-message p {
}

div#edit-panel {
  border-color:rgb(30,30,30);
}
div#edit-panel:hover{
  background-color:rgb(30,30,30)
}
div#cog {
  color:rgb(30,30,30);
}
div#edit-panel:hover div#cog{
  color:rgb(255,255,255);
}
div#cog i {
  margin:2px;
}
.edit-panel-link{color:white}


div#app-view {
  border-color:rgb(30,30,30);
}
div#app-view.searching {
}

.app-item {
  border-color:transparent;
}
.app-item:focus {
}
.app-item:hover {
  border-color: rgb(30,30,30);
}
.app-item:active {
  background-color: rgba(30,30,30,0.1);
  border-color: rgb(30,30,30);
}
.app-item img {
}
.app-item p {
  color:rgb(30,30,30);
}


/* Plugin Suggestion */
.plugins-title {
}
.plugin-suggestion {
}
.pl-name {
  color:white;
}
.pl-domain {
}
.pl-domain:hover {
}

/* Search Item*/

.item-img {
  border-color:white;
}
.item-img:focus {
}
.item-img:hover {
}
.item-img:active {
}
.item-img .img {
}
.item-img p {
  color:white;
}
.item-basic {
  border-color:white;
}
.item-basic:focus {
  border-bottom-width:2px;
}
.item-basic:hover {
}
.item-basic:active {
}
.item-basic p {
  color:white;
}


/*footer*/
.footer-link {
  padding:4px;
  color:rgb(30,30,30);
}
.footer-link:hover {
  background-color:rgb(30,30,30);
  color:white;
}

/* media */
@media screen and (max-width: 1024px) {
  div#container {
    width:860px;
  }
  div#app-view {
    width:820px;
  }
  div#app-view.searching {
    margin-top:-10px;
    width:510px;
  }
}
@media screen and (max-width: 920px) {
  div#container {
    width:500px;
  }
  div#app-view {
    width:460px;
  }
  div#search-panel.searching {
    width:480px;
    height:250px;
  }
  div#app-view.searching {
    width:460px;
    margin-top:10px;
  }
}
