body {
  background-color:#F4D03F;
  font-family:"Roboto Condensed", Arial, sans-serif;
}
p {
  font-style: italic;
  text-transform: uppercase;
  font-size:1em;
  margin:4px;
  margin-left:20px;
  padding:0px;
}
p.icons {
  color:rgb(60,60,60);
  font-size: .8em;
}
#user-count {
  font-style: normal;
  font-size: 4em;
  padding:4px;
  margin:0px;
  font-weight: bold;
}
#icon-count {
  font-style: normal;
  font-size: 1.4em;
  padding:2px;
  margin:0px;
  margin-left:15px;
  color:rgb(60,60,60);
}
