body {
  background-color:white;
  font-family:'Roboto Condensed',serif;
  background:white;
}



input[type="text"] {
  border-style:solid;
  border-width: 0px;
  border-bottom-width: 1px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-color:#F4D03F;
  background-color:rgb(30,30,30);
  opacity:.6;
  color:white;
  padding:15px;
}
input[type="text"]:focus {
  background-color:rgb(40,40,40);
  opacity:1;
}

input[type="submit"] {
  text-transform: uppercase;
  border-style: solid;
  border-width: 0px;
  border-radius: 2px;
  background-color:#F4D03F;
  color:black;
  padding:15px;
  opacity:.9;
  font-weight: normal;
}
input[type="submit"]:hover {
  font-weight: normal;
  opacity:1;
  color:rgb(40,40,40)
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   border-style:solid;
   border-width: 0px;
   border-bottom-width: 1px;
   border-top-left-radius: 2px;
   border-top-right-radius: 2px;
   border-color:#F4D03F;
   background:url("/static/images/drop_arrow.png") no-repeat right 10px top 20px;
   background-color:rgb(30,30,30);
   opacity:.6;
   color:white;
   padding:15px;
   padding-left:5px;
}
select:hover {
  cursor: pointer;
  opacity: 1;
  background-color: rgb(40,40,40)
}
option {
  border-style: dotted;
  border-width: 0px;
  border-bottom-width: 1px;
  border-color:#F4D03F;
}
option:hover {
  background-color: #F4D03F;
  color:rgb(30,30,30)
}

div#container {
  margin-left:auto;
  margin-right:auto;
  margin-top:80px;
  width:1024px;
  height:90%;
  height:512px;
}
div#container.blur {
  -webkit-filter: blur(10px);
-moz-filter: blur(10px);
-o-filter: blur(10px);
-ms-filter: blur(10px);
filter: blur(10px);
}

#sp-title {
  font-family:'Roboto Condensed',serif;
  color:rgb(30,30,30);
  border-style:solid;
  border-width:0px;
  border-top-width:0px;
  padding:2px;
  border-color:rgb(30,30,30);
  background-color:#F4D03F;
  margin:10px;
  width:200px;
}



div#search-div {
  margin:10px;
}
div#search-bar {
  border-style:solid;
  border-width:0px;
  border-bottom-width: 3px;
  border-color:rgb(30,30,30);
  width:200px;

}
div#search-bar input[type='text'] {
  color:rgb(30,30,30);
  padding:6px;
  margin:0px;
  margin-top:2px;
  margin-bottom:-2px;
  border-style:solid;
  border-radius:0px;
  border-width:0px;
  border-bottom-width:2px;
  border-color:transparent;
  background-color:rgba(30,30,30,0.0);
  width:160px;
  font-style:italic;
  outline:none;
}
div#search-bar input[type='text']:active {
  background-color:rgba(30,30,30,0.04);
  outline:none;
}
div#search-bar input[type='text']:focus {
  border-color:rgb(30,30,30);
  outline:none;
}
div#search-bar input[type='submit'] {
    width:34px;
    padding:5px;
    margin:0px;
    margin-left:0px;
    border-style:solid;
    border-color:transparent;
    background:url('/static/searchDark.svg') center center;
    color:rgb(30,30,30);
    outline:none;
}
div#search-bar input[type='submit']:hover {
  background-color:rgba(30,30,30,0.05);
  outline:none;
}
div#search-bar input[type='submit']:active {
  background-color:rgba(30,30,30,0.1);
  outline:none;
}

div#edit-panel {
  transition:width .1s height .1s;
  width:0px;
  height:0px;
  margin-left:10px;
  margin-top:-10px;
  float:left;
  display:block;
  width:200px;
  height:auto;
  box-shadow: 1px 1px 0px 0px rgba(10,10,10,0.1);
  background-color:rgb(30,30,30);
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 3px;
  border-color:rgb(60,60,60);
  padding:2px;
}

div#edit-panel p {color:white;margin:15px;font-size:1.2em;}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #F4D03F;
  margin: 1em 0;
  padding: 0;
}
.usr-link {
  padding:3px;
  color:#F4D03F;
}
.usr-link:hover {
  color:rgb(30,30,30);
  background-color:#F4D03F;
}

a {
  color:white;
}
a:active {color:rgb(230,230,230)}

code {
  display: inline-block;
  background-color:rgb(40,40,40);
  border-radius:3px;
  padding:3px;
  margin:2px;
  color:#F4D03F;
  border-style:solid;
  border-width:1px;
  border-color:rgb(50,50,50);
  width:150px;
  overflow-x:scroll;
  line-height:1;
}

div#search-results {
  margin:0px;
  padding:0px;
  width:200px;
  height:410px;
  overflow-x:hidden;
  overflow-y:auto;
  color:white;
}
div#search-message {
  width:200px;
  margin:0px;
  padding:0px;
  height:30px;
  border-style: solid;
  border-width:0px;
  border-top-width: 2px;
  color:white;
  border-color:rgba(255,255,255,0.2);
}
div#search-message p {
  text-align:center;
  font-size:.9em;
  text-transform:uppercase;
}
div#app-view {
  transition: width .1s margin-top .1s;
  position:relative;
  float:right;
  margin:10px;
  margin-top:-10px;
  margin-left:10px;
  padding: 0px;
  height:auto;
  border-style: solid;
  border-width:0px;
  border-bottom-width: 3px;
  border-color:rgb(30,30,30);
  width:774px;
}
div#app-view.searching {
  width:774px;
  height:440px;
  margin-top:-10px;
}


#edit-bg {
  padding:50px;
}
#edit-bg form {
  background-color:white;
  border-style:solid;
  border-color:transparent;
  box-shadow: 1px 1px 1px 1px rgba(10,10,10,0.2);
  padding:40px;
}
#edit-bg p {
  padding:4px;
  color:rgb(30,30,30);
  background-color:white;;
  text-transform:uppercase;
  width:300px;
  box-shadow: 1px 1px 1px 1px rgba(10,10,10,0.2);
}

#edit-theme {
  padding:50px;
}
#edit-theme p {
  padding:4px;
  color:white;
  background-color:rgb(30,30,30);;
  text-transform:uppercase;
  width:300px;
}
#edit-theme form {
  padding:40px;
  background-color:rgb(30,30,30);
  color:white;
}

#edit-title {
  padding:50px;
}
#edit-title p {
  padding:4px;
  color:white;
  background-color:rgb(30,30,30);;
  text-transform:uppercase;
  width:300px;
}
#edit-title form {
  padding:40px;
  background-color:rgb(30,30,30);
  color:white;
}

#edit-add-website {
  background-color:rgb(30,30,30);;
  text-transform:uppercase;
  color:white;
  width:100%;
  border-style:solid;
  border-width:0px;
  padding:20px;
  font-size:1.5em;
  font-family: 'Roboto Condensed',sans-serif;
  cursor:pointer;
}
#edit-add-website:hover {
  background-color:rgb(60,60,60)
}
#edit-apply-website {
  background-color:rgb(30,30,30);;
  text-transform:uppercase;
  color:rgb(200,200,200);
  width:100%;
  border-style:solid;
  border-width:0px;
  border-top-width: 2px;
  border-color:rgb(70,70,70);
  padding:20px;
  font-size:1.5em;
  font-family: 'Roboto Condensed',sans-serif;
  margin-bottom:10px;
  cursor:pointer;
}
#edit-apply-website:hover {
  background-color:rgb(60,60,60)
}
#edit-apply-website.do-apply {
  color:white;
  background-color:rgb(80,180,80);
}
#edit-apply-website.do-apply:hover {
  background-color:rgb(90,190,90);
}

#bg-theme {
  background-color:rgb(30,30,30);
  padding:50px;
}
#apps_list {
  background-color:rgb(30,30,30);
  padding:50px;
  padding-bottom:5px;
  margin-bottom:0px;
}
#notification {
  z-index:100;
  position:fixed;
  right:5px;
  top:5px;
  width:250px;
  background-color:rgb(40,40,40);
  color:white;
}
#notification.success {
  background-color:rgb(80,200,80);
}
#notification.error {
  background-color:rgb(200,80,80);
}
#notification p {
  width:200px;
  margin-left:5px;
  float:left;
}
#notification button {
  border-style:solid;
  border-width: 0px;
  color:rgba(255,255,255,0.6);
  background-color:transparent;
  width:30px;
  height:30px;
  float:right;
}
#notification button:hover {
  color:white;
}


.sp-link-widget {
  width:190px;
  margin:5px;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  border-color:#F4D03F;
  color:#F4D03F;
  background-color: rgb(30,30,30);
  height:30px;
}
.sp-link-text {
  width:149px !important;
  margin:0px;
  margin-left:1px;
  padding:0px !important;
  padding-top:8px !important;
  padding-bottom: 8px !important;
  font-size: 12px;
  float:left;
  border-width: 0px !important;
  background-color: transparent !important;
}
.sp-link-widget button {
  font-size: 12px;
  width:40px;
  float:right;
  margin:0px;
  padding:0px;
  padding-bottom:8px;
  padding-top:8px;
  background-color: #F4D03F;
  color:rgb(30,30,30);
  border-width: 0px;
  border-style: solid;
}
.sp-link-widget button:active {
  opacity: .9
}

table {
  table-layout: fixed;
  width:100%;
  color:white;
}
li {
  background-color:rgb(80,80,80);
  border-style: dashed;
  border-width:1px;
  border-color:rgb(100,100,100);
  padding:0px;
  margin:0px;
  margin-top:5px;
  width:100%;
  height:50px;
  margin:5px;
  display:block;
  list-style-type: none;
}
.website-item {
  background-color:rgb(40,40,40);
  border-style:solid;
  border-width:0px;
  border-bottom-width: 1px;
  border-color:#F4D03F;
  color:white;
}
.web-icon {
  display:block;
  margin:0px;
  padding:0px;
  width:44px;
  height:44px;
  background-size: contain;
  overflow:hidden;
}

.handle {
  transition: background-color .2s, color .2s  ;
  font-size:16px;
  padding:14px;
  color:transparent;
  background-color:rgba(0,0,0,0);
  cursor:grab;
}
.web-icon:hover .handle {
  color:white;
  background-color:rgba(0,0,0,0.6);
}


.btn-remove-website {
  transition: background-color .1s, color .1s;
  border-style:dotted;;
  border-color: transparent;
  border-width: 0px;
  border-top-width: 1px;
  width:46px;
  font-size:16px;
  padding:14px;
  padding-right: 18px;
  text-decoration: none;
  color:rgba(255,255,255,0.6);
}
.btn-remove-website:hover {
  border-color:rgb(240,80,80);
  color:rgb(240,80,80);
  background-color:rgba(240,80,80,0.05);
}
.btn-remove-website:active {
  border-color:rgb(240,80,80);
  color:rgb(30,30,30);
  background-color:rgba(240,80,80,0.8);
}
.btn-edit-title {
  border-style:solid;
  border-width: 0px;
  background-color:transparent;
  padding:2px;
  text-decoration: none;
  color:rgba(255,255,255,0.6);
}
.btn-edit-title:hover {
  color:white;
}
.btn-edit-title:active {
  border-style: dotted;
  border-width: 0px;
  border-top-width: 1px;
  border-color: white;
}


input[type='text'] {
  width:180px;
}

div#popup-container {
  -webkit-filter: blur(0px);
-moz-filter: blur(0px);
-o-filter: blur(0px);
-ms-filter: blur(0px);
filter: blur(0px);
  display: none;
  background-color:rgba(0,0,0,0.1);
  position:fixed;
  left:0px;
  right:0px;
  top:0px;
  bottom:0px;
}

div#popup {
  position:fixed;
  width:500px;
  background-color:rgb(30,30,30);
  left:50%;
  margin-left:-300px;;
  top:100px;
  padding:50px;
  padding-top:20px;
  border-style: solid;
  border-width:0px;
  border-bottom-width: 1px;
  border-color:#F4D03F;
}
#popup-top-bar {
  display:block;
  height:60px;
}
#popup-content {
  padding:5px;
}
#popup-title {
  padding:5px;
  width:250px;
  margin:0;
  color:white;
  float:left;
  text-transform: uppercase;
  font-size:1.4em;
}
#popup-close-button {
  float:right;
  border-style:dotted;;
  border-radius:0px;
  border-width:0px;
  border-top-width:1px;
  border-color:transparent;
  color:rgb(100,100,100);
  background-color:transparent;
  padding:10px;
  cursor:pointer;
}
#popup-close-button:hover{
  color:rgb(240,80,80);
  border-top-color:rgb(240,80,80);
}

#sp-zip {
  background-color:rgb(30,30,30);
  padding:50px;
}
#sp-zip p {
  font-size: 1.2em;
  width:auto;
  text-transform: none;
}
#sp-zip code {
  overflow-x: auto;
}
#sp-zip li {
  background-color:transparent;
  border-color:transparent;
  display:list-item;
  color:white;
  list-style-type: circle;
}
.zip-link {
  padding:20px;
  background-color:#F4D03F;
  border-radius:2px;
  color:black;
  text-decoration: none;
  opacity: .9;
}
.zip-link:hover {
  opacity: 1;
  color:rgb(30,30,30)
}
.code {
  color:#F4D03F;
  border-bottom: 1px dotted #F4D03F;
  padding:1px;
}
.code.dark {
  color:rgb(30,30,30);
  border-bottom: 1px dotted rgb(30,30,30);
  padding:1px;
}


/* media */
@media screen and (max-width: 1024px) {
  div#container {
    width:860px;
  }

  div#app-view {
    margin-top:-10px;
    width:610px;
  }
}
