html {
  min-height: 100%;
}
body {
  border-width: 0px;
  border-style:solid;
  border-top-width: 3px;
  border-color:#F4D03F;
  color:rgb(30,30,30);
  margin:0px;
  padding:0px;
  overflow:auto;
  font-size:1.2em;
  background-color:white !important;
}
h1,h2,p {
  color:rgb(30,30,30)
}
#container {
  margin-top:10px !important;
  height:auto !important;
  min-height:1300px;
}
#message {
  background-color:rgb(30,30,30);
  color:#F4D03F;
  margin:0px;
  padding:5px;
  text-align:right;
}
#message a {
  color:#F4D03F;
}
#message a:hover {
  background-color:#F4D03F;
  color:rgb(30,30,30)
}

#header {
  background-color:white;
  margin:0px;
  padding:20px;
  height:64px;
}
#icon-block {
  width:128px;
  height:64px;
  float:left;
  margin:0px;
}
.h-icon {
    width:64px;
    height:64px;
    margin:0px;
    margin-left:10px;
    padding:0px;
    float:right;
}
.h-icon:hover{
  background-color:rgba(0,0,0,0.01)
}
#about {
  display:block;
  float:left;
  background-color:white;
  width:710px;
}
#about a {
  color:rgb(30,30,30);
}
#right-panel {
  display:block;
  width:300px;
  height:600px;
  margin:0px;
  float:right;
}
#right-panel h1 {
  font-size:1em;
  color:rgb(30,30,30);
  background-color:#F4D03F;
  padding:3px;
  width:200px;
  text-transform: uppercase;
  font-style: italic;
  font-weight:normal;
}
#right-panel p {
  font-size:.8em;
  background-color:transparent;
  color:rgb(30,30,30);
  padding:10px;
}
#right-panel a {
  color:rgb(30,30,30)
}
#right-panel a:hover {
  color:#F4D03F;
}
.signup-icon {
  margin:5px;
  padding:5px;
  background-color:#F4D03F;
  color:rgb(30,30,30) !important;
  border-style:solid;
  border-width:0px;
  border-bottom-width:1px;
  border-bottom-color:rgba(30,30,30,0.1);
  border-radius:2px;
  font-style: italic;
  text-decoration: none;
  text-transform: uppercase;
}
.signup-icon:hover {
  border-bottom-color:rgba(30,30,30,0.2);
  background-color:#ffd942 !important;
}
.signup-icon:active {
  border-bottom-color:rgba(30,30,30,0.2);
  background-color:#e8c63c !important;
}

#data {
  width:100%;
  height:200px;
  border-style:solid;
  border-color:transparent;
  border-width:0px;
  overflow-y: hidden;
}

#signup-animation {
  margin:0px;
  padding:0px;
  position:relative;
  background:white;
}
.signup-line {
  display: block;
  position:absolute;
  left:0px;
  width:24%;
  top:87px;
  height:2.5px;
  background-color:#F4D03F;
  margin:0px;
}
.signup-line.right {
  left:auto;
  right:0px;
}
#signup-link {
  display:block;
  width:728px;
  background-color:white;
  margin:0 auto;
  z-index:100;
}
#signup-link img {
  margin:0px;
}

footer {
  width:auto;
  overflow: hidden;
  margin:0px;
  margin-top:50px;
  background-color:#F4D03F;
  height: 200px;
  padding: 1rem;
}
.footer-block {
  display: block;
  float:left;
  list-style-type: none;
  text-transform: uppercase;
}
.footer-block a {
  color:rgb(30,30,30)
}
.footer-block-title{
  font-weight: bold;
}


@media screen and (max-width: 1040px) {
  #about {
    width:500px;
  }
  #right-panel {
    width:200px;
  }
  .signup-line {
    width:16%;
  }
}



@media screen and (max-width: 768px) {
  #about {
    width:100%;
    margin:0px;
  }
  #right-panel{
    display:none;
  }
  .slideshow-container {display:none !important;}
  .signup-line {
    width:10%
  }
}
@media screen and (max-width: 480px) {
  #container {
    width:100% !important;
  }
  #edit-btn {display: none;}
  #signup-btn {display: none;}
  #signup-animation {display:none;}
}
