
body {
  margin:0px;
  padding:0px;
  font-family: 'Roboto',Arial,sans-serif;
  background: url('/static/notebook_@2X.png') center center;
}

#ico-form {
  display:block;
  float:left;
  width:300px;
  height:300px;
  margin:0px;
  background:repeating-linear-gradient(
    45deg,
    white,
    rgb(230,230,230) 2px,
    white 2px,
    white 10px
    )
}
#ico-form form {
  margin:10px;
}
textarea {
  resize:none;
  width:280px;height:90px;
}
.ico-form-title {
  color:white;
  background-color:rgb(30,30,30);
  background:repeating-linear-gradient(
    45deg,
    rgb(40,40,40),
    rgb(80,80,80) 2px,
    rgb(40,40,40) 2px,
    rgb(40,40,40) 10px
    );
  font-size:1.2em;
  padding:5px;
  margin:0px;
  font-family: 'Roboto Condensed',Arial,sans-serif;
  text-transform: uppercase;
}
.ico-form-warning {
  font-size:.9em;
  font-style: italic;
  padding:8px;
  margin:0px;
}
p {
  font-size:.8em;
  text-align: center;
  font-style: italic;
  margin:0px;
  padding:6px;
}
.icon {
  display:block;
  float:left;
  width:150px;
  height:150px;
  margin:0px;
  background: url('/static/bg11.jpg') no-repeat center center;
  /*-webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: contain;
  */background-size: contain;
  overflow:hidden;
}
div.domains {
  transition: margin-top .4s;
  margin-top:150px;
  min-height:150px;
  padding:4px;
  background:repeating-linear-gradient(
    45deg,
    rgba(30,30,30,0.6),
    rgba(80,80,80,0.7) 3px,
    rgba(30,30,30,0.6) 3px,
    rgba(30,30,30,0.6) 10px,
    rgba(80,80,80,0.7) 10px
    );
}
div.domains a {
  color:white;
  font-style:italic;
  text-align:center;
  padding:2px;
  margin:2px;
  font-size:.8em;
}
.icon:hover div.domains {
  margin-top:0px;
}
