body {
  background:#ececec;
  padding:0px;
  margin:0px;
}

div#container {
  margin-left:auto;
  margin-right:auto;
  width:1024px;
  height:90%;
  height:522px !important;
}
div#logo {
  margin:0px auto;
  margin-top:100px;
  padding:5px;
  width:340px;
  background-color:#F4D03F;
}
div#logo img {
  width:160px;
  margin:20px;
  margin-left:90px;
}

div#login {
  margin:0 auto;
  width: 340px;
  height:280px;
  padding:5px;
  background-color:white;
  border-style:solid;
  border-width:0px;
  border-top-width:3px;
}
p.text {
  color:rgb(30,30,30);
  text-transform:uppercase;
  text-align:center;
  margin:5px;
}
.login-btn-container{
  margin:10px auto;
  width:200px;
}
/* media */
@media screen and (max-width: 1024px) {
  div#container {
    width:860px;
  }
}
@media screen and (max-width: 920px) {
  div#container {
    width:500px;
  }
}


input {
  padding:5px;
  margin:10px;
  margin-left:auto;
  margin-right:auto;
  transition: border-bottom-width .1s;
  border-style:solid;
  border-width:0px;
  border-bottom-width:0px;
  border-color:rgb(40,40,40);
  background-color:rgba(0,0,0,0.03);
  width:300px;
  font-family:'Roboto Condensed',sans-serif;
}
input[type='text'] {
  border-bottom-width: 1px;
}
input[type='password'] {
  border-bottom-width: 1px;
}
input[type='submit'] {
  background-color:transparent;
  margin-bottom:0px;
  padding-bottom:0px;
}
input:hover {
  border-bottom-width:3px;
  background-color:rgba(0,0,0,0.06);

}
input:active {
  background-color:rgba(0,0,0,0.1)
}
