
::-webkit-input-placeholder {
   color: rgba(255,255,255,0.8);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(255,255,255,0.8);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255,255,255,0.8);
}

:-ms-input-placeholder {
   color: rgba(255,255,255,0.8);
}

body {
  background-color:rgb(30,30,30);
  font-family:'Roboto Condensed',serif;
  overflow-y: hidden;
  margin:0px;
  padding:0px;
  color:white;
}

code {
  background-color:rgb(40,40,40);
  border-radius:3px;
  padding:3px;
  margin:2px;
  color:white;
  border-style:solid;
  border-width:1px;
  border-color:rgb(50,50,50)
}

.middle {
  position: relative;
  top:50%;
  transform: translate3d(0,-50%, 0);
}

div#background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:0px;
  padding:20px;
  position: fixed;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;

  transition: filter .3s;
  -webkit-transition: -webkit-filter .3s;
  -o-transition: -o-filter .3s;
  -ms-transition: -ms-filter .3s;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);

}
div#background.show-widgets {
  -webkit-filter: blur(10px);
-moz-filter: blur(10px);
-o-filter: blur(10px);
-ms-filter: blur(10px);
filter: blur(10px);
}


div.container {
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  width:1024px;
  height:100%;
  position:relative;
}

#sp-search-block {
  width:300px;
  margin:0px;
  padding:0px;
  height:100px;
}
#sp-title {
  font-family:'Roboto Condensed',serif;
  color:white;
  font-weight:bolder;
  border-style:solid;
  border-width:0px;
  border-top-width:0px;
  border-color:white;
  margin:10px;
  width:300px;
  height:50px;
  overflow: hidden
}



div#search-div {
  margin:10px;
  width:300px;
}
div#search-bar {
  border-style:solid;
  border-width:0px;
  border-bottom-width: 0px;
  border-color:white;
  width:300px;

}
div#search-bar input[type='text'] {
  color:white;
  padding:10px;
  margin:0px;
  margin-top:2px;
  margin-bottom:-2px;
  border-style:solid;
  border-radius:0px;
  border-width:0px;
  border-bottom-width:2px;
  border-color:transparent;
  background-color:rgba(255,255,255,0.0);
  width:240px;
  height:50px;
  font-style:italic;
  outline:none;
}
div#search-bar input[type='text']:active {
  background-color:rgba(255,255,255,0.04);
  outline:none;
}
div#search-bar input[type='text']:focus {
  border-color:white;
  outline:none;
}
div#search-bar button[type='submit'] {
    transition:  background-color .1s;
    width:34px;
    height:40px;
    padding:20px;
    margin:0px;
    margin-left:0px;
    border-style:solid;
    border-color:transparent;
    border-width:0px;
    border-bottom-width: 2px;
    background:url('/static/search.svg') center center;
    color:white;
    outline:none;
    text-shadow: 0px 1px 2px rgb(30,30,30);
}
div#search-bar button[type='submit']:hover {
  background-color:rgba(255,255,255,0.04);
}
div#search-bar button[type='submit']:active {
  background-color:rgba(255,255,255,0.08);
}

div#search-panel {
  transition:none;
  position: absolute;
  top:112px;
  width:0px;
  height:0px;
  margin-left:10px;
  float:left;
  display:block;
  background-color:white;
  border-style:solid;
  border-width: 0px;
  border-bottom-width: 3px;
  border-color:rgb(245,245,245);
  overflow:hidden;
}
div#search-panel.searching {
  transition:width .2s, height .3s;
  width:300px;
  height:460px;
  overflow:hidden;
}
div#search-results {
  background-color:white;
  margin:0px;
  padding:0px;
  width:300px;
  height:410px;
  overflow-x:hidden;
  overflow-y:auto;
}
div#search-message {
  width:300px;
  margin:0px;
  padding:0px;
  height:30px;
  border-style: solid;
  border-width:0px;
  border-top-width: 1px;
  border-color:#ecf0f1;
}
div#search-message p {
  text-align:center;
  font-size:.9em;
  text-transform:uppercase;
}


div#app-view {
  transition:none;
  position:absolute;
  top:110px;
  right:10px;
  bottom:10px;
  float:right;
  margin:10px;
  margin-top:10px;
  margin-left:10px;
  padding: 10px;
  border-style: solid;
  border-width: 0px;
  border-bottom-width:0px;
  border-color:white;
  width:984px;
  overflow-y: auto;
  display:none
}
div#app-view.active {
  display:block;
}
div#app-view.searching {
  transition:width .1s, height .1s, margin-top .1s;
  width:674px;
}
div#app-view.searching .app-item {
  margin-left:5px;
}

div#edit-panel {
  transition: width .2s, height .3s, background-color .1s;
  display:block;
  position:absolute;
  top:0px;
  right:10px;
  width:32px;
  height:32px;
  background-color:transparent;
  overflow: hidden;
  border-style:solid;
  border-width:0px;
  border-top-width: 0px;
  border-color:white;
}
div#edit-panel:hover {
  width:400px;
  height:40px;
  background-color:white;
}
div#cog {
  transition: color .1s;
  width:32px;
  height:32px;
  margin:3px;
  margin-top:5px;
  display:block;
  float:right;
  color:white;
  cursor:pointer;
}
div#edit-panel:hover div#cog {
  color:rgb(30,30,30);
}
#edit-panel-container {
  margin:5px;
  padding:5px;
}
div#cog i {
  margin:6px;
  font-size: 1.3em;
}
.edit-panel-link {
  color:rgb(30,30,30);
  padding:5px;
  margin:5px;
  margin-top:10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Roboto Condensed";
}
.edit-panel-link:hover{
  text-decoration: underline;
}

div#switch-div {
  display:block;
  position:absolute;
  top:48px;
  right:10px;
  width:66px;
  height:32px;
  background-color:rgba(0,0,0,0.05);
  border-style: solid;
  border-width: 0px;
  /*border-radius: 20px;*/
  margin:0px;
  padding:0px;
}
div#switch-div button {
    width: 32px;
    height:32px;
    border-style: solid;
    border-width: 0px;
    background:transparent;
    margin:0px;
    padding:0px;
    color:white;
    font-size: .8em;
    display: inline-block;
    float:left;
    cursor:pointer;
    outline:none;
}
div#switch-div button:hover {
  background-color:rgba(0,0,0,0.2)
}
div#switch-div button:active {
  background-color:rgba(0,0,0,0.3)
}
div#switch-div button.active {
  background-color:rgba(0,0,0,0.1)
}
div#switch-div button#apps {
  /*border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;*/
  border-right-width: 1px;
  border-right-color: rgba(0,0,0,0.1)
}
div#switch-div button#widgets {
  /*border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;*/
}



div#switch-div button i {
  font-size: 1.2em;
  margin:6px;
}

div#widget-view{
    transition:none;
    position:absolute;
    top:110px;
    right:10px;
    bottom:10px;
    float:right;
    margin:10px;
    margin-top:10px;
    margin-left:10px;
    padding: 10px;
    border-style: solid;
    border-width: 0px;
    border-bottom-width:0px;
    border-color:white;
    width:984px;
    overflow-x: auto;
    display:none;
  }
div#widget-view.active {
  display:block;
}
div#widget-view.searching {
    transition:width .1s, height .1s, margin-top .1s;
    width:674px;
  }
div#widget-container {
  margin:0px;
  padding:0px;
  width: 100%;
  height:auto;
  column-count: 3;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-gap: 0px;
  -moz-column-gap: 0px;
  -webkit-column-gap: 0px;

}
.widget {
  display: inline-block;
  vertical-align: top;
  padding:0px;
  /*float:left;*/
  width: 100%;
  margin:0px;
  height:94px;
  position: relative;
}

.widget.small {
  height:94px;

}
.widget.quite-small {
  height:188px;
}
.widget.big {
  height:376px;
}

.widget-content {
  margin:5px;
  position: absolute;
  top:5px;
  right:5px;
  left:5px;
  bottom:5px;
  color:white
}
.widget-content *  {
  color:white;
}
.widget-content h1 {
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: bold;
}





.app-item {
  transition:border-color .1s, background-color .1s, box-shadow .1s;
  display:block;
  float:left;
  width:94px;
  height:114px;
  margin:10px;
  margin-left:16px;
  overflow:hidden;
  text-decoration:none;
  border-style:solid;
  border-width:0px;
  border-bottom-width:0px;
  border-color:transparent;
  border-radius: 2px;
  outline:none;
}
.app-item:hover {
  border-color:white;
  background-color: rgba(255,255,255,0.1);
}
.app-item:active {
  outline:none;
  background-color: rgba(255,255,255,0.2)
}
.app-item img {
  margin-left:15px;
  margin-top:15px;
  width:64px;
  max-height:64px;
  border-style: solid;
  border-width:0px;
  border-radius: 3px;
}
.app-item p {
  text-decoration:none;
  text-transform:uppercase;
  text-shadow: 1px 1px 2px black;
  color:white;
  font-family:'Roboto Condensed',sans-serif;
  /*font-weight:bold;*/
  font-size:0.8em;
  width:94px;
  margin:0px;
  margin-top:10px;
  margin-bottom:5px;
  padding:0px;
  text-align:center;
  text-transform:uppercase;
}
.letter {
  display:block;
  margin-left:15px;
  margin-top:15px;
  width:64px;
  height:64px;
  border-style: solid;
  border-width:0px;
  border-radius: 3px;
}
.letter p {
  position:relative;
  width:64px;
  margin:0px;
  padding:16px;
  padding-left:0px;
  padding-right: 0px;
  font-size:24px;
  text-transform: capitalize;
  text-align:center;
  color:white;
  text-shadow: 1px 1px 2px transparent;
}
.widget-item {
  display:block;
  float:left;
  width:208px;
  height:114px;
  margin:10px;
  text-decoration: none;
  outline: none;
  background-color:white;
}


/* Plugin Suggestion */
.plugins-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  padding:10px;
  font-family:"Roboto Condensed",sans-serif;
}
.plugin-suggestion {
  display:block;
  height:40px;
  margin:10px;
  margin-top:10px;
}
.pl-name {
  padding:10px;
  margin:4px;
  text-transform: capitalize;
  border-style:solid;
  border-width:0px;
  border-radius:2px;
  min-width:60px;
  text-align:center;
  color:white;
}
.pl-domain {
  transition: border-bottom-width .1s;
  margin:4px;
  padding:5px;
  border-style: solid;
  border-width:0px;
  border-bottom-width: 0px;
  cursor:pointer;
}
.pl-domain:hover {
  border-bottom-width: 3px;
}

/* Search Item*/

.item-img {
  transition:border-bottom-width .1s;
  display:block;
  width:280px;
  height:100px;
  margin:10px;
  text-decoration: none;
  border-style:solid;
  border-width:0px;
  border-bottom-width:0px;
  border-color:white;
  outline:none;
}
.item-img:focus {
  border-bottom-width:2px;
}
.item-img:hover {
  border-bottom-width:3px;
}
.item-img:active {
  border-bottom-width:3px;
}
.item-img .img {
  width:90px;
  height:90px;
  float:left;
  margin:0px;
}
.item-img p {
  float:right;
  width:170px;
  margin:5px;
  font-size:.9em;
  color:rgb(30,30,30);
  text-decoration:none;
}
.item-basic {
  transition:border-bottom-width .1s;
  display:block;
  width:280px;
  height:100px;
  margin:10px;
  text-decoration: none;
  border-style:solid;
  border-width:0px;
  border-bottom-width:0px;
  border-color:white;
  outline:none;
}
.item-basic:hover {
  border-bottom-width: 3px;
}
.item-basic:active {
  border-bottom-width: 2px;
}
.item-basic:focus {
  border-bottom-width:2px;
}
.item-basic p {
  margin:5px;
  font-size:.9em;
  color:rgb(30,30,30);
  text-decoration:none;
}


/*footer*/
.footer-link {
  padding:4px;
  color:white;
}
.footer-link:hover {
  background-color:white;;
  color:rgb(30,30,30);
}


/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  -webkit-transition: background .2s;
  background: rgba(255,255,255,0.3);
  border: 0px none #ffffff;
  border-radius: 41px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.5);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(255,255,255,0.7);
}
::-webkit-scrollbar-track {
  -webkit-transition: background .2s;
  background: rgba(255,255,255,0.0);
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background:rgba(255,255,255,0.1);
}
::-webkit-scrollbar-track:active {
  background: rgba(255,255,255,0.1);
}
::-webkit-scrollbar-corner {
  background: transparent;
}


/* media */
@media screen and (max-width: 1040px) {
  div.container {
    width:710px;
  }
  div#app-view, div#widget-view {
    width:670px;
  }
  div#app-view.searching, div#widget-view.searching {
    width:360px;
  }
  .app-item {
    margin-left:4px;
  }
  div#app-view.searching .app-item {
    margin-left:6px;
  }
  div#widget-container {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow:auto;
  }
  div.container {
    width:500px;
  }
  div#app-view, div#widget-view, div#app-view.searching, div#widget-view.searching  {
    width:460px;
    top:60px;
  }
  .app-item {
    margin-left:6px;
  }
  div#widget-container {
    column-count: 1;
    -moz-column-count: 1;
    -webkit-column-count: 1;
  }
  div#switch-div {
    top:0px;
  }

  div#search-panel{display:none}
  div#search-results{display:none}
  div#search-message{display:none}
  div#search-bar{display: none}
  div#edit-panel{display:none}
  div#widget-button{display:none}
}

@media screen and (max-width: 480px) {
  body {
    margin:0px;
    padding:0px;
  }
  .container {
    width:100% !important;
    margin:0px;
    margin-top:0px !important;
  }
  div#search-panel{display:none}
  div#search-results{display:none}
  div#search-message{display:none}
  div#app-view, div#app-view.searching{
    position: absolute;;
    right:auto;
    width:220px;
    margin-left:-120px;
    left:50%;
    float:none;

    bottom:0px;
  }
   div#widget-view, div#widget-view.searching  {
     width: 100%;
     position: absolute;
     bottom:0px;
     margin:0 auto;
     padding:0px;
   }
  div#search-bar{display: none}
  div#edit-panel {
    display: none;
  }

  .app-item {
    margin-left:6px;
  }
  div#app-view.searching .app-item {
    margin-left:6px;
  }

  div#widget-container {
    column-count: 1;
    -moz-column-count: 1;
    -webkit-column-count: 1;
  }
  div#switch-div {
    top:0px;
  }

}
