
body {
  margin:0px;
  padding:0px;
  font-family: "Roboto Condensed", Arial,sans-serif;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 20px;
  font-size: 18px;
  text-transform: uppercase;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
  background-color: white;
}
section.module.content.dark {
  background-color: rgb(30,30,30);
  color:#F4D03F
}
section.module.content.dark p {
  color:white;
}
section.module.content.dark  a{
  color:#F4D03F;
}
section.module.content.yellow {
  background-color: #F4D03F;
  color:black;
}
section.module.content.yellow p {
  color:black;
}
section.module.content.yellow  a{
  color:rgb(30,30,30);
}
section.module.head {
  padding:10px 0;
  margin:0px;
  background-color:#F4D03F;
  height:100%;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 24px;
  line-height: 600px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top:0px;
}
section.module.parallax h1.yellow {
  color:#F4D03F;
}
section.module.parallax-1 {
  background-image: url("/static/presentation/crowd.jpg");
}
section.module.parallax-2 {
  overflow: hidden;
}
section.module.parallax-3 {
  background-image: url("/static/presentation/edit.png");
}
section.module.parallax-4 {
  background-image: url("/static/presentation/contribute.png");
}



button#sound {
  transition: background-color .2s;
  position: absolute;
  top:28px;
  left:30px;
  width:48px;
  height:48px;
  border-style: solid;
  border-width: 0px;
  background-color: transparent;
  background-image: url(/static/presentation/sound-on.svg);
  border-top-width: 2px;
  border-color: rgba(0,0,0,0);
}
button#sound:hover {
  border-color: black;
}
button#sound:active {
  background-color:rgba(10,10,10,0.06);
}
button#share {
  transition: background-color .2s;
  position: absolute;
  top:28px;
  right:30px;
  width:48px;
  height:48px;
  border-style: solid;
  border-width: 0px;
  background-color: transparent;
  background-image: url(/static/presentation/share.svg);
  border-top-width: 2px;
  border-color: transparent;
}
button#share:hover {
  border-color: black;
}
button#share:active {
  background-color:rgba(10,10,10,0.06);
}
a#continue {
  transition: background-color .2s;
  position: absolute;
  bottom:30px;
  left:50%;
  margin-left: -60px;
  width:120px;
  height:48px;
  border-style: solid;
  border-width: 0px;
  background-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom-width: 2px;
  border-color: transparent;
  line-height:48px;
  color:black;
  text-decoration: none;
  cursor: pointer;
}
a#continue h4 {
  margin:0px;
}
a#continue:hover {
  border-color:black;
}
a#continue:active {
  background-color: rgba(10,10,10,0.06);
}

div#animation {
  position: absolute;
  width:250px;
  height:250px;
  top:50%;
  left:50%;
  margin-left: -125px;
  margin-top: -175px;
  background-image: url(/static/presentation/animation.gif)
}

.sub-cont {
  margin:0px;
  padding:0px;
  border-style: solid;
  border-width: 0px;
  width:100%;
  margin-bottom:20px;
  float:left;
  display: block
}
.sub-cont p {
  text-align: justify;
  margin:5px;
}
.sub-cont i.fa {
  padding:10px;
  font-size:1.4em;
  line-height: 1.8em;
}

.half-cont {
  margin:0px;
  padding:0px;
  border-style: solid;
  border-width: 0px;
  width:100%;
  margin-bottom:20px;
  float:left;
  display: block
}


code {
  background-color: rgb(50,50,50);
  color:#F4D03F;
  border-radius: 3px;
  padding:2px;
}

video {
  position:absolute;left:0px;right:0px;
  width:100%;
  z-index: -100;
  background: url(search-animation.png) no-repeat;
    background-size: cover;
}
#animation-element {
}

p.unique {
  text-align: justify;
  padding-bottom:40px;
}
p.definition {
  font-family:'Libre Baskerville', serif;
  color:rgba(255,255,255,0.8);
  font-size: 1.6em !important;
  text-align: justify;
  padding-bottom:20px;
  margin:20px;
}


#share-buttons {
  transition: width .2s, height .5s;
  position:absolute;
  right:30px;
  top:31px;
  width:48px;
  height:48px;
  overflow:hidden;
  background-color:transparent;
  color:transparent;
}
#share-buttons a {
  color:transparent;
}
#share-buttons:hover {
  visibility: visible;
  background-color: white;
  height:auto;
  width:200px;
  color:black;
}
#share-buttons:hover a {
  color:black;
}
#share-buttons div {
  margin-top:15px;
  width:200px;
}
.share-platform {
  cursor:pointer;
  width:30px;
  height:30px;
  line-height: 30px;
  font-size: 2em;
  padding:10px;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 0px;
}
.share-platform:hover {
  border-bottom-width: 2px;
}

footer {
  width:auto;
  overflow: hidden;
  margin:0px;
  margin-top:0px;
  background-color:#F4D03F;
  height: auto;

  padding: 1rem;
}
.footer-block {
  display: block;
  float:left;
  list-style-type: none;
  text-transform: uppercase;
  margin-left:0px;
  padding-left:0px;
  padding-right: 40px;
}
.footer-block a {
  color:rgb(30,30,30);
  text-decoration: none;
  padding:1px;
  border-style: dotted;
  border-width: 0px;
  border-bottom-width: 1px;
  border-color: transparent;
}
.footer-block a:hover {
  border-color: black;
}
.footer-block-title{
  font-weight: bold;
}


#signup {
  position:fixed;
  bottom:30px;
  right:30px;
  width:128px;
  height:48px;
  border-style: solid;
  border-radius: 1px;
  border-width: 0px;
  background:url(/static/presentation/signup.gif);
  box-shadow: 0px 1px 1.2px 1px rgba(20,20,20,0.2);
}
#signup:hover {
  box-shadow: 0px 1.5px 1.2px 1px rgba(20,20,20,0.22);
}

input[type="text"],input[type="email"], textarea {
  width:100%;
  max-width:100%;
  min-width:100%;
  margin:0px;
  padding:5px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  background-color:transparent;
  color:black;
  font-family: 'Roboto Condensed',Arial,sans-serif;
}

input[type="submit"] {
  color:#F4D03F;
  background: black;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  margin:5px;
  padding:5px;
}
input[type="submit"]:hover {
  border-color: rgb(30,30,30);
  background: rgb(30,30,30);
  cursor: pointer;
}
input[type="submit"]:active {
  border-color: black;
  background: rgb(30,30,30);
  cursor: pointer;
}
.in-text {
  padding:6px;
  margin:2px;
  font-style: normal;
}


@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 24px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 32px;
  }
  .sub-cont {
    width:33%;
    margin-bottom:10px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 32px;
  }
  .sub-cont {
    width:33%;
    margin-bottom:40px;
  }
  .half-cont {
    width:50%;
    margin-bottom:10px;
  }
}
