<html>
<head>
  <title>Setup 2 of 4 - The Startpage Project</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/styles/font-awesome.css">
  <link href="/static/styles/main.css" rel="stylesheet" type="text/css">
  <link href="/static/styles/setup.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class='container'>
    <p id='setup-title'><b>Step 2:</b> Choose an Awesome Background!</p>
    <div id='content'>
      <form id='bg-image' action='{{uploadUri}}' enctype="multipart/form-data" method='post'>
        <input type="file" name="filename" accept="image/gif, image/jpeg, image/png">
        <input type='submit' value="Continue"></input>
      </form>
    </div>

  </div>

</body>

</html>
