<html>
<head>
  <title>Setup 3 of 5 - The Startpage Project</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/static/js/jquery-2.1.3.min.js"></script>
  <script type='text/javascript'>
  $.extend(
{
    redirectPost: function(location, args)
    {
        var form = '';
        $.each( args, function( key, value ) {
            value = value.split('"').join('\"')
            form += '<input type="hidden" name="'+key+'" value="'+value+'">';
        });
        $('<form action="' + location + '" method="POST">' + form + '</form>').appendTo($(document.body)).submit();
    }
});
  function setTheme(th) {
    var redirect = '/config/change-theme';
    $.redirectPost(redirect, {theme:th});

  }
  </script>
</head>
<body>
  <div class='container'>
    <p id='setup-title'><b>Step 3:</b> Choose a theme !</p>
    <div id='content'>

      <div class='theme' onclick="setTheme('white')">
        <div class='th-display' style="background:url('{{bg_image}}')">
          <div class='app-item'>
            <img src="/icons/get?url=http://play.spotify.com/">
            <p>Spotify</p>
          </div>
        </div>
        <p class='th-title'>White theme</p>
      </div>
      <div class='theme' onclick="setTheme('dark')">
        <div class='th-display' style="background:url('{{bg_image}}')">
          <div class='app-item dark' >
            <img src="/icons/get?url=http://play.spotify.com/">
            <p >Spotify</p>
          </div>
        </div>
        <p class='th-title'>Dark theme</p>
      </div>


    </div>

  </div>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/styles/font-awesome.css">
  <link href="/static/styles/main.css" rel="stylesheet" type="text/css">
  <link href="/static/styles/setup.css" rel="stylesheet" type="text/css">
</body>

</html>
