<html>
<head>
  <title>Setup 5 of 5 - The Startpage Project</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/styles/font-awesome.css">
  <link href="/static/styles/main.css" rel="stylesheet" type="text/css">
  <link href="/static/styles/setup.css" rel="stylesheet" type="text/css">
  <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.5/clipboard.min.js"></script>
</head>
<body>
  <div class='container'>
    <p id='setup-title'><b>Final Step :</b> Enjoy!</i></p>
    <div id='content'>
      <p>Congratulations! You've created your own Startpage!</p>
      <p>This is <a class='url' href='{{url}}'>the URL of your <b>new startpage</b></a>:</p>
      <div class="sp-link-widget">
        <input type="text" value="{{url}}" class="sp-link-text" onClick="this.select();"></input>
        <script>var clipboard = new Clipboard('.sp-link-copy');</script>
        <button class="sp-link-copy" data-clipboard-text="{{url}}" title="Copy to clipboard"> <i class="fa fa-clipboard"></i></button>
      </div>
      <p>To set your startpage as your browser's homepage,<a class='url' href="/browsers">here</a> are instructions </p>
    </div>

  </div>

</body>

</html>
