<html>
<head>
  <title>Add To Browser - That Startpage Rocks</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Graduate' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link type="text/css" href="/static/styles/perfect-scrollbar.css" rel="stylesheet" media="all" />
  <script src="/static/js/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="/static/js/perfect-scrollbar.jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/perfect-scrollbar.min.js"></script>
  <link href="/static/styles/main.css" rel="stylesheet" type="text/css">
  <link href="/static/styles/setup.css" rel="stylesheet" type="text/css">
  <link href="/static/styles/browsers.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id='container'>
    <p id='thanks'>Add your startpage to Firefox</p>
    <ul>
      <li>Follow <a href='https://support.mozilla.org/en-US/kb/how-to-set-the-home-page?redirectlocale=en-US&redirectslug=How+to+set+the+home+page'>this tutorial</a> to set it as your homepage.</li>
      <li>Add <a href='https://addons.mozilla.org/en-US/firefox/addon/new-tab-homepage/'>this extension</a> to Firefox, which enables you to set the browser's new tab page to the homepage</li>
    </ul>
  </div>

</body>

</html>
